body {
  color: #A6ADB4;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.7142857143;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* header -------------------------------------------------------------------------------------*/
.header {
  padding-top: 30px;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 60px;
}
.header__inner {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.header .nav .gnav {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 30px;
  margin-bottom: 30px;
}
.header .nav .gnav .gnav-list {
  margin-left: 20px;
  color: #A6ADB4;
}
.header .nav .gnav .gnav-list .gnav__link {
  color: #A6ADB4;
}
.header .nav .gnav li:first-of-type .gnav__link {
  color: #343638;
}

/* main -------------------------------------------------------------------------------------*/
main .main__inner {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}
main .main__inner .news {
  margin-top: 0;
  margin-bottom: 60px;
}
main .main__inner .news .news__title {
  padding-top: 0;
  padding-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
  color: #202124;
  border-bottom: 1px solid #EBEDED;
}
main .main__inner .news .news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
main .main__inner .news .news__list .news__tile {
  max-width: 50%;
}
main .main__inner .news .news__list .news__tile .news__category .category__link {
  color: #FA6980;
  font-size: 12px;
  font-weight: bold;
}
main .main__inner .news .news__list .news__tile .news__subtitle {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #202124;
}
main .main__inner .news .news__list .news__tile .news__text {
  font-size: 14px;
}
main .main__inner .news .news__list .news__tile .news__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 0;
  vertical-align: middle;
}
main .main__inner .news .news__list .news__tile .news__time .news__day {
  margin-left: 10px;
}
main .main__inner .news .news__list article:nth-of-type(odd) {
  padding-right: 20px;
}
main .main__inner .news .news__list article:nth-of-type(even) {
  padding-left: 20px;
}
main .main__inner .news .news__list article:nth-of-type(1) {
  margin-top: 30px;
  margin-bottom: 30px;
}
main .main__inner .news .news__list article:nth-of-type(2) {
  margin-top: 30px;
  margin-bottom: 30px;
}
main .main__inner .news .news__list article:nth-of-type(3) {
  margin-top: 30px;
  margin-bottom: 0;
}
main .main__inner .news .news__list article:nth-of-type(4) {
  margin-top: 30px;
  margin-bottom: 0;
}
/*# sourceMappingURL=style.css.map */