@charset "utf-8";
$color-text: #A6ADB4;
$color-heading: #343638;

@mixin inner($width: 1000px) {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

@mixin flex($j:space-between, $a:flex-start) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $j;
    align-items: $a;
}

@mixin gnav(){
    padding: 0;
}

@mixin margin($top: 30px, $bottom: 60px) {
    margin-top: $top;
    margin-bottom: $bottom;

}


body{
  color: $color-text;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.75;
}

img{
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

li{
  list-style: none;
}

.header{
    &__inner{
        @include inner();
        @include flex();
    }
    .logo{

    }
    .nav{
        .gnav{
            @include gnav();
            @include flex();
            .gnav-list{
                margin-left: 20px;
            }
            li:first-of-type{
                color: $color-heading;
            }
        }
    }
}
